@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --clr-primary-400: 228deg 39% 23%;
    --clr-accent-400: 12deg 88% 59%;
    --clr-accent-100: 13deg 100% 96%;
    --clr-neutral-900: 233deg 12% 13%;
    --clr-neutral-100: 0deg 0% 98%;
    --clr-neutral-400: 227deg 12% 61%;
    --ff-primary: "Be Vietnam Pro", sans-serif;

    --fs-300: 0.8125rem;
    --fs-400: 0.875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1rem;
    --fs-700: 1.875rem;
    --fs-800: 2.5rem;
    --fs-900: 3.5rem;

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-800);
    --fs-secondary-heading: var(--fs-700);
    --fs-nav: var(--fs-500);
    --fs-button: var(--fs-300);

    --shadow-btn: 0 1.125em 1em -1em hsl(var(--clr-accent-400));
  }
}

@layer components {
  .btn {
    @apply bg-accent-400 py-4 px-8 rounded-full text-button font-bold text-grayish-blue-100 hover:opacity-75 
  }

  [data-counter="number"] {
    counter-reset: number;
  }

  [data-counter="number"] > * {
    counter-increment: number;
  }

  .counter-number {
    @apply before:content-['0'_counter(number)] before:bg-accent-400 before:py-2 before:px-6 before:rounded-full before:text-button before:font-bold before:text-grayish-blue-100 before:col-start-1 before:col-end-2 before:row-start-1 before:row-end-2 before:h-9 
    
    max-md:after:bg-accent-100 max-md:after:z-[-1] max-md:after:block max-md:after:rounded-l-full max-md:after:col-start-1 max-md:after:col-end-3 max-md:after:row-start-1 max-md:after:row-end-2 max-md:after:shadow-[5em_0_0_hsl(var(--clr-accent-100))] max-md:after:h-9
  }
}

.a11y-slider-dots {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center; 
  align-items: flex-start;
  padding-block: 1rem;
}

@media (min-width: 768px) {
  .a11y-slider-dots {
    display: none;
  }
}

.a11y-slider-dots > * {
  display: inline-flex;
}

.a11y-slider-dots > * button {
  text-indent: -9999px;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 9999px;
  border: 1px solid hsl(var(--clr-accent-400));
  background-color: transparent;
  color: transparent;
}

.a11y-slider-dots > * button.active {
  background-color: hsl(var(--clr-accent-400));
}

@layer utilities {
  .text-body {
    font-size: var(--fs-body);
  }

  .text-primary-heading {
    font-size: var(--fs-primary-heading);
  }

  .text-secondary-heading {
    font-size: var(--fs-secondary-heading);
  }

  .text-nav {
    font-size: var(--fs-nav);
  }

  .text-button {
    font-size: var(--fs-button);
  }

  .container-section {
    @apply max-w-[1110px] mx-auto px-4
  }

  .open-menu {
    @apply absolute top-[calc(theme(space.24)+theme(space.6))] gap-7 inset-x-6 justify-evenly items-center rounded p-7 bg-grayish-blue-100 overflow-hidden text-ellipsis z-20 transition-all duration-300 ease-in-out
  }
}

@layer variant {
  :root {
  @media screen(sm) {

    --fs-body: var(var(--fs-500));
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
  }
}
}